{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>LumiTracker (Beta) | lumipakkanen.com</title>
    <link rel="stylesheet" href="{% static 'tracker/css/main.css' %}">
    <script type="text/javascript" src="{% static 'js/util.js' %}"></script>
    <script type="text/javascript" src="{% static 'text2music/js/waveform.js' %}"></script>
    <script type="text/javascript" src="{% static 'tracker/js/oscillator.js' %}"></script>
    <script type="text/javascript" src="{% static 'tracker/js/main.js' %}" charset="utf-8"></script>
</head>
<body onload="main()">
<h2>LumiTracker (Beta)</h2>
<div id="content"></div>
<button id="panic" style="position:fixed;bottom:10px;">panic</button>
</body>
</html>
